@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css');
/* .image{ 
    background: url(../assets/tech.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */
  .image {
    background-repeat: no-repeat, repeat;
    background-blend-mode: lighten;
    background-position: center center;
    /* position: relative; */
    /* opacity: 0.5; */
  }