<div>
  <h1 style="text-align: center;margin-top: 90px;font-family: 'Dancing Script', cursive; font-size: 50px;">DigitalDiary</h1>
</div>
<div class="container-fluid image" style="background-image: url(../assets/DigitalDiary1edit.png); margin-top: 40px;">
    <div class="row mt-5 mx-5 maincontent">
        <div class="col-12 col-lg-4 mt-5">
          <span>SUCCESS</span>
          <h1>How our website is useful</h1>
          <p>
            Blogging allows you to share information about your business and it's services. It also allows you to share opinions and thoughts on certain topics.
            Blogging is a great way to create a personality for your company and makes your business more credible and approachable.
          </p>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mt-4">
          <div class="row">
            <div class="col-12 mt-4">
                <i class="fa fa-laptop" style="color: #E491DC; font-size: 1.5em;"></i>
              <h4>Share your passion</h4>
          <p>
            Whether it's a passion for fishing photography, or marketing, blogging is an excellent way to share that passion. When you write a blog about something you are passionate about, it opens a door to connect with those around you with similar interests.
          </p></div>
            <div class="col-12" style="margin-top: 100px!important">
                <i class="fa fa-mobile" style="color: #E491DC; font-size: 1.5em;"></i>
              <h4>Improve your writing skills</h4>
          <p>
            The more you do something, the better you will become at that skill. writing is no exception. Even if you don't set out to study writing, your writing will improve the more you do it.
          </p></div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mt-4">
          <div class="row">
            <div class="col-12 mt-4">
            <i class="fa fa-bolt" style="color: #E491DC; font-size: 1.5em;"></i>
              <h4>Educate others</h4>
          <p>
            If you are someone who loves to teach, blogging can be a platform for teaching people who have an interest in your areas of expertise.
            Though blogging, you will not only teach others, but you will also teach yourself more about the topic.
          </p></div>
            <div class="col-12" style="margin-top: 100px!important">
                <i class="fa fa-rocket" style="color: #E491DC; font-size: 1.5em;"></i>
              <h4>Connect with new people</h4>
          <p>
            One of the greatest benefits of blogging is connecting with others. You don't just grow some followers on social networks or email lists, you build genuine relationships too. You make friends with people you wouldn't have met otherwise.
          </p></div>
          </div>
        </div>
      </div>
    </div>