@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css');
  .image {
    background-repeat: no-repeat, repeat;
    background-blend-mode: lighten;
    background-position: center center;
    
  }