<div class="homebackg">
    <img src="/assets/images/digitaldiaryhomeimg.jpeg" class="image">
    <div class="container">
        <div class="head">
            
            DIGITAL<br> 
            DIARY
        </div>
        <br><br>
        <div class="cont">
        DigitalDiary is a free blogging website where you can <br>
        browse and create your own blogs
        </div>
        <br>
        <hr style="width: 370px;">
        <br><br><br>
        <a routerLink="/blogs" class="blogs">Blogs</a>
    </div>
</div>

