<!-- <button><a routerLink="/addnewpost">ADD NEW POST</a></button> -->
<!-- <a routerLink="/addnewpost" style="color: white;"><button class="button button5 tooltiptext" style="margin:100px 0px 0px 25px; font-size: 25px"><b>+</b></button></a> -->

<h1 style="text-align: center;">{{user.username}}'s DigitalDiary</h1>
<div class="container">
  <div class="row top-spacer-form">
    <div class="col-lg-12 col-md-12 col-sm-12"></div>
  </div>
  <div class="row mb-3 bloglist" *ngFor="let post of posts.reverse()">
    <a routerLink="/blog" (click)=setPostId(post)>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <img style="margin-top: 35px;" src="{{imageurl}}{{post.image}}" class='iconDetails' alt="">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-8" style="margin-left: 150px;">
        <p class="btitle">{{post.title}}</p>
        <button style="align-self: center;" class="button-34" role="button">{{post.category}}</button>
        <br><br>
        <p class="content" style="font-size: 12px; margin-top: 0px;">{{post.content}}</p>

      </div>
    </a>
    <div *ngIf="_auth.loggedIn()" class="buttons" style="float: right;margin-right: 5%;margin-left: 50px;">
      <button id="update" class="button-59" (click)="UpdatePost(post)"><i
          class="fa fa-edit"></i>&nbsp;Edit</button>&nbsp;
      <span>
        <button type="button" class="button-59" (click)="Confirmdelete(post)" id="delete">
          <i class="fa fa-trash"></i> &nbsp;Delete</button></span>
    </div>
  </div>
</div>