a{
    text-decoration: none;
}
.form-group{
  float: right;
}
.has-search .form-control {
  padding-left: 2.375rem;
  width:300px;
  border:1px solid rgb(219, 156, 219);
  
}
.top-spacer-form{
  height: 60px;
    }

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  /* color: #aaa; */
  color: rgb(219, 156, 219);
}

.content{
  margin-top: 20px;
  height: 2.7em;
  overflow: hidden ;
  font-family: 'Koh Santepheap', cursive;
}



