<div class="row top-spacer-form">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 style="text-align: center; margin-top: 80px;">EDIT PROFILE</h1>
    </div>
</div>
<div class="mainc" style="margin-top: 50px;">
<form #updatepost ="ngForm" (ngSubmit)="changeuserprofile()" class="mx-5">
    <br><br> 
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="Title">First Name </label>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <input type="text" name="fname" [(ngModel)]="userItem.fname"  #fname="ngModel" [class.is-invalid]="fname.invalid && fname.touched" pattern="^[A-Za-z\. ]+$" class="form-control input"  placeholder="First Name *"  title="Can only contain alpahets " required>
        <small class="text-danger" [class.d-none] = "fname.valid||fname.touched||fname.pristine">Enter valid name</small>
      </div> 
    </div>    <br>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label for="Title">Last Name </label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <input type="text" name="lname" [(ngModel)]="userItem.lname" #lname="ngModel"  [class.is-invalid]="lname.invalid && lname.touched" pattern="^[A-Za-z\. ]+$" class="form-control input" placeholder="Last Name *"  title="Can only contain alpahets " required>
          <small class="text-danger" [class.d-none] = "lname.valid||lname.touched||lname.pristine">Enter valid name</small>
        </div> 
    </div>    <br>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label for="Title">Email id</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <input type="text" name="email" [(ngModel)]="userItem.email"  #emails="ngModel" [class.is-invalid]="emails.invalid && emails.touched" pattern="^([A-Za-z0-9\.-]+)@([A-Za-z0-9\-]+).([a-z]{2,3})(.[a-z]{2,3}?)$" class="form-control input" placeholder="Your Email *" title="Can be of the form abc@xyz.(com)(.co)" value="" aria-describedby="emailHelp" required>
          <small class="text-danger" [class.d-none] = "emails.valid||emails.touched||emails.pristine">Enter valid email</small>
        </div> 
    </div>    <br>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label for="Title">Phone number</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <input type="text" name="phno" [(ngModel)]="userItem.phno" #phno="ngModel" [class.is-invalid]="phno.invalid && phno.touched" pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$" class="form-control input" placeholder="Your Phone *" title="Must be of pattern XXX-XXX-XXXX or XXX.XXX.XXXX or XXX XXX XXX or XXXXXXXXXX" value="" required>
          <small class="text-danger" [class.d-none] = "phno.valid||phno.touched||phno.pristine">Enter valid phone number</small>
        </div> 
    </div>    <br>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="Title">Username</label>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <input type="text" name="username" [(ngModel)]="userItem.username" class="form-control input" required>
      </div> 
  </div>    <br>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label for="Title">New Password</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <input type="password" name="paswd" id="pwd"  [(ngModel)]= "userItem.paswd"
            #paswd="ngModel" [class.is-invalid]="paswd.invalid && paswd.touched" minlength="8"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control input" required>
              <small class="text-danger" [class.d-none] = "paswd.valid||paswd.touched||paswd.pristine">Password must be strong<p style="font-size: 13px;">(Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters)</p></small>
        </div> 
    </div>    <br>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label for="Title">Reenter New Password</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <input type="password" name="confpaswd" (keyup)="check()" [(ngModel)]="confpaswd" class="form-control input" required>
          <small class="text-danger">{{paswdval}}</small>
        </div> 
    </div>    <br>
      
      <div class="text-center">
      <button type="submit" class="btn btn-dark text-center">SAVE</button>
      <br><br>
  </div></form> 
</div>