.custom-file{
    color: rgb(80, 35, 94);
}
.img{
    border: 2px solid rgb(97, 71, 121);
    padding: 10px;
    background-color: rgb(243, 235, 247);
    cursor: pointer;
}

.form-control{
    border: 1px solid rgb(186, 165, 209);
}
.form-control:hover{
    border: 1px solid rgb(115, 80, 156);
    background-color: rgba(218, 201, 238, 0.479);
 }