a{
    text-decoration: none;
}
.content{
    /* border: 1px solid red; */
    margin-top: 20px;
    height: 1.3em;
    /* padding: 2px;  */
    overflow: hidden 
}
nav{
    text-align: center;
}
nav li {list-style: none; display: inline-block; }