@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@900&display=swap');
a{
    text-decoration: none;
}
.content{
    font-family: 'Koh Santepheap', cursive;
    margin-top: 20px;
    height: 1.3em;
    overflow: hidden 
}
nav{
    text-align: center;
    
}
nav li {list-style: none; 
    display: inline-block; }
.nav-link{
    font-family: 'Koh Santepheap', cursive;
    font-size: 19px;
    transition: transform .2s; 
}
.nav-link:hover{
    transform: scale(1.05);
   
}
.carousel-inner img {
    margin: auto;
    height: 500px;
    /* max-width: 100%; */
    margin-top: 90px;
    max-height: 90% !important;
    overflow: hidden
  }
  .pull-right {
    float: right;
}
.form-group{
    float: right;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    /* color: #aaa; */
    color: rgb(219, 156, 219);
}
.nav-item:hover{
    background-color: rgb(216, 170, 235);
}

