a{
    text-decoration: none;
}
.content{
    /* border: 1px solid red; */
    margin-top: 20px;
    height: 1.3em;
    /* padding: 2px;  */
    overflow: hidden 
}
nav{
    text-align: center;
}
nav li {list-style: none; display: inline-block; }

.carousel-inner img {
    margin: auto;
    height: 500px;
   
  }
.form-group{
    float: right;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}