*{
    margin: 0px;
    padding: 0px;
}
/* i{
    float: left;
    font-size: 40px;
    color: rgb(143, 123, 143);
} */
i{
    float: right;
    margin-right: 200px;
}
.postedname{
    margin-left: 50px;
    letter-spacing: 2px;
    color :#3F3D56;
}
.userim{
    background-color: rgb(228, 213, 233);
    padding: 5px;
}
img{
    max-height: 100%;
    max-width: 100%;
}
.container-fullwidth{
    /* border: 1px solid rgb(113, 76, 134); */
    margin-top: 20px;
    margin-right: 0px;
}
.title{
    word-break: break-all;
    line-height:50px;
    font-family: 'Anton', sans-serif;
}
.mainbody{
    margin: 50px;
}
