<div class="mainbody">
  <div class="container-fullwidth">
    <!-- <div class="userim">
      <i class="fa fa-user-circle-o" ></i>
      <p class="postedname">
        Posted By<br>
        <b>{{username}}</b>
      </p>
    </div> -->
     
       <div class="row" style="margin-top: 100px;">
       <div  class="col-lg-6 col-md-6 col-sm-6">
        <h3 class="title">{{post.title}}</h3>
        <p class="postedname">
         <i>- Posted By&nbsp;<b>{{username}}</b></i>
        </p>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="{{imageurl}}{{post.image}}" alt="" >
      </div>
    </div><br>
  
       <div class="mainc">
         <pre><p class="content">
            {{post.content}}
         </p></pre> 
        </div>
          <div class="tarea">
            <form #addreview="ngForm" (ngSubmit)="AddReview()">
              <div class="form-group" *ngIf="_auth.adminloggedIn()">
              <textarea class="my-3 form-control"  name="text" id="" rows="3" [(ngModel)]="post.review"></textarea><br>
             <button class="btn btn-danger mx-2" type="submit">Submit review</button>
           </div>
         </form>  
           <div *ngIf="_auth.loggedIn() && !blogCatClicked()">
             <textarea  class="my-3" readonly *ngIf="isClicked" name="text" id="" cols="40" rows="4">{{post.review}}</textarea><br>
            <button class="btn btn-danger mx-5"(click)="OnClick()">{{buttonName}} review</button>
          </div>        
          <div class="row top-spacer">
           <div class="col-lg-12 col-md-12 col-sm-12">
           </div>
          </div>
          </div>
     </div>

</div>