<div class="container">
  
     <div class="row" style="margin-top: 100px;">
     <div  class="col-lg-4 col-md-3 col-sm-3">
      <h3 class="title">{{post.title}}</h3>
     </div>
     <div class="col-lg-8 col-md-9 col-sm-9">
      <img  style="max-width:100%; max-height:100%;" src="{{imageurl}}{{post.image}}" alt="">
    </div>
  </div>

     <div class="mainc">
      <!-- <h3 class="title">{{post.title}}</h3> -->
      <!-- <h1>by {{user.username}}</h1> -->
    <pre><p class="content">
      {{post.content}}
     </p></pre> 
        </div>
        <div class="tarea">
          <form #addreview="ngForm" (ngSubmit)="AddReview()">
            <div class="form-group" *ngIf="_auth.adminloggedIn()">
            <textarea class="my-3 form-control"  name="text" id="" rows="3" [(ngModel)]="post.review"></textarea><br>
           <button class="btn btn-danger mx-2" type="submit">Submit review</button>
         </div>
       </form>  
         <div *ngIf="_auth.loggedIn() && !blogCatClicked()">
           <textarea  class="my-3" readonly *ngIf="isClicked" name="text" id="" cols="40" rows="4">{{post.review}}</textarea><br>
          <button class="btn btn-danger mx-5"(click)="OnClick()">{{buttonName}} review</button>
        </div>        
        <div class="row top-spacer">
         <div class="col-lg-12 col-md-12 col-sm-12">
         </div>
        </div>
        </div>
   </div>