<footer>
    <div class="footer-top" style=" margin-top: 200px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 footer-about wow fadeInUp">
                    <img class="logo-footer" src="../assets/dd.png" alt="logo-footer" data-at2x="assets/img/logo.png">
                    <p>
                        Blogging allows you to share information about your business and it's services. It also allows you to share opinions and thoughts on certain topics.
                        Blogging is a great way to create a personality for your company and makes your business more credible and approachable.                    </p>
                </div>
                <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
                    <h3>Contact</h3>
                    <div class="address mt-5">
                        <p><i class="fa fa-map-marker"></i> Queens, 10136 Southampton, England</p>
                    <p><i class="fa fa-phone"></i> Phone: (02380 210610)</p>
                    <p><i class="fa fa-envelope"></i> Email: <a href="mailto:hello@domain.com">queens@domain.com</a></p>
                    </div>
                    
                                </div>
                <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
                    <h3>Follow us</h3>
                    <div class="icons mt-5">
                    <p>
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a> 
                        <a href="https://twitter.com/"target="_blank"><i class="fa fa-twitter"></i></a> 
                        <!-- <a href="#"><i class="fa fa-google-plus-g"></i></a>  -->
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a> 
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
</footer>